/* ----------------------------------------------------------------
 *    AVAILABLE COLOR VARIABLES
 * ---------------------------------------------------------------- */

//
$blue-1: #13446a !default;
$blue-2: #1a5988 !default;
$blue-3: #226ba5 !default;
$blue-4: #2c7ebf !default;
$blue-5: #4e8fc7 !default;
$blue-6: #6da1d0 !default;
$blue-7: #89b2d8 !default;

//
$blue-lightest: #77a2cf !default; // 77a3ce
$blue-lighter: #5b8ec4 !default;
$blue-light: #3f7bbb !default; // 3f7aba
$blue: #226ba5 !default; // 2569af
$blue-dark: #1c5693 !default;
$blue-darker: #1a5988 !default;
$blue-darkest: #113356 !default;
//
$turquoise-lightest: #60c6c9 !default;
$turquoise-lighter: #3fbcbc !default;
$turquoise-light: #21afb2 !default;
$turquoise: #00a5a5 !default;
$turquoise-dark: #00898c !default;
$turquoise-darker: #006d6d !default;
$turquoise-darkest: #005151 !default;
//
$green-lightest: #77cca5 !default;
$green-lighter: #59c193 !default;
$green-light: #3db782 !default;
$green: #21aa70 !default;
$green-dark: #1c8e5b !default;
$green-darker: #167249 !default;
$green-darkest: #115438 !default;
//
$red-lightest: #f4a593 !default;
$red-lighter: #f2937f !default;
$red-light: #ef7f68 !default;
$red: #eb6e53 !default;
$red-dark: #c45b44 !default;
$red-darker: #9b4938 !default;
$red-darkest: #723528 !default;
//
$yellow-lightest: #f9efaf !default;
$yellow-lighter: #f9ed9e !default;
$yellow-light: #f9ea8e !default;
$yellow: #f9e87c !default;
$yellow-dark: #cebf68 !default;
$yellow-darker: #a8a059 !default;
$yellow-darkest: #7a703d !default;
//
$orange-lightest: #f9c68e !default;
$orange-lighter: #f7ba77 !default;
$orange-light: #f7ad60 !default;
$orange: #f4a24a !default;
$orange-dark: #cc873d !default;
$orange-darker: #a36b30 !default;
$orange-darkest: #774f23 !default;
//
$pink-lightest: #f28e9e !default;
$pink-lighter: #ef7789 !default;
$pink-light: #ed6072 !default;
$pink: #e84960 !default;
$pink-dark: #c13d4f !default;
$pink-darker: #99303f !default;
$pink-darkest: #72232d !default;
//
$gray-0: #f2f2f2 !default;
$gray-1: #ededed !default;
$gray-2: #e0e0e0 !default;
$gray-3: #c6c6c6 !default;
$gray-4: #b2b2b2 !default;
$gray-5: #9e9e9b !default;
$gray-6: #737373 !default;
$gray-7: #636363 !default;
$gray-8: #484848 !default;
$gray-9: #1c1c1c !default;
