@mixin for-phablet {
  @media screen and (min-width: $bp-phablet) {
    @content
  }
}

@mixin for-tablet {
  @media screen and (min-width: $bp-tablet) {
    @content
  }
}

@mixin for-tablet-landscape {
  @media screen and (min-width: $bp-tablet-landscape) {
    @content
  }
}

@mixin for-tablet-landscape-down {
  @media screen and (max-width: $bp-tablet-landscape) {
    @content
  }
}

@mixin for-desktop {
  @media screen and (min-width: $bp-desktop) {
    @content
  }
}

@mixin for-large-desktop {
  @media screen and (min-width: $bp-large-desktop) {
    @content
  }
}

@mixin for-xl-desktop {
  @media screen and (min-width: $bp-xl-desktop) {
    @content
  }
}
