// Breakpoints
$bp-phablet: 400px;
$bp-tablet: 600px;
$bp-tablet-landscape: 900px;
$bp-desktop: 1200px;
$bp-large-desktop: 1800px;
$bp-xl-desktop: 2000px;

// Container widths
$container-small: 960px;
$container-normal: 1024px;
$container-large: 1280px;
$container-xl: 1600px;
$container-wide-small: 1024px;
$container-wide-normal: 1200px;
$container-wide-large: 1500px;
$container-wide-xl: 1800px;

// Margins
$margin-small: 15px;
$margin-y-small: 10px;
$margin-normal: 20px;
$margin-y-normal: 15px;
$margin-large: 30px;
$margin-y-large: 25px;

// Paddings
$padding-y-small: 10px;
$padding-x-small: 15px;
$padding-y-normal: 25px;
$padding-x-normal: 30px;
$padding-y-large: 30px;
$padding-x-large: 35px;
$tight-padding-y-small: 5px;
$tight-padding-x-small: 10px;
$tight-padding-y-normal: 10px;
$tight-padding-x-normal: 15px;
$tight-padding-y-large: 15px;
$tight-padding-x-large: 20px;

// Navigation
$top-bar-height: 60px;
$top-bar-user-color: rgba(#FFF, .8);
$top-bar-logo-height: 24px;
$top-bar-bg: $blue-3;
$top-bar-bg-hover: $blue-2;
$top-bar-color: $gray-0;
$logo-bg-hover: $blue-1;
$logo-bg: $blue-2;
$search-placeholder-color: $blue-7;

// Sidebar
$sidebar-width: 200px;
$sidebar-bg: $blue-3;
$sidebar-color: $gray-0;
$sidebar-secondary-color: $blue-7;
$sidebar-bg-hover: $blue-2;

// Forms
$placeholder-color: $gray-5;
$input-height: 44px;
$input-color: $gray-8;

// Element colors
$primary-border-color: $gray-2;
$primary-border: 1px solid $primary-border-color;
$light-border-color: rgba(0, 0, 0, 0.125);
$light-border: 1px solid $light-border-color;

// Team icons
$team-icon-bg: $gray-0;
$team-icon-border: $gray-1;

/* ----------------------------------------------------------------
 *    BOOTSTRAP OVERRIDES
 * ---------------------------------------------------------------- */

// General settings
$enable-rounded: false;
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$support-for: (
        chrome: -4,
        edge: -4,
        firefox: -4,
        ie: 10,
        opera: -4,
        safari: -4,
        '*': -4,
);

// Font settings
$font-size-base: 0.9rem; // Must use rem to be compatible with other bootstrap variables/functions
$font-size-lg: 1.20rem;
$font-size-sm: .85rem;

$font-family-sans-serif: $open-sans;
$base-font-family: $open-sans;
$headings-font-family: $montserrat;
$headings-font-weight: 700;

// Set bootstrap colors
$body-bg: $gray-1;
$body-color: $gray-8;
$brand-primary: $blue-4;
$brand-success: $green;
$brand-info: $blue-7;
$brand-warning: $orange;
$brand-danger: $red;

// Bootstrap card settings
$card-spacer-x: $padding-x-normal;
$card-border-color: $light-border-color;
