.alert-container {
  position: fixed;
  top: 80px;
  right: 30px;

  z-index: 9000;

  .alert {
    z-index: 99999;
    width: 400px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);

    .close {
      color: $gray-9;
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }
}
