.button-icon {
  border: $primary-border;
  border-radius: 50%;
  margin-right: 10px;
  padding: 3px;
  font-size: 13px;
  color: $gray-4;

  &:hover {
    text-decoration: none;
    background-color: $gray-1;
    border-color: $blue-6;
  }
}
