.details {
  display: flex;
  flex-flow: row nowrap;

  &.details--wrap {
    flex-wrap: wrap;
  }
}

@for $i from 2 through 10 {
  .details-#{$i} .detail {
    flex-basis: percentage(1 / $i);
  }
}

.detail {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  &:not(:last-child) {
    border-right: $light-border;
  }
}

.is-admin {
  .detail.only-admin {
    //display: block !important;
  }
}

.detail--shrink {
  flex-grow: 0;
}

.detail--compact {
  .detail__header {
    font-size: 12px;
    line-height: 20px;
    padding: 5px 10px;
  }
  .detail__body {
    padding: $tight-padding-y-small $tight-padding-x-small;
  }
}

.detail__header,
.detail__footer {
  padding: $tight-padding-y-small $tight-padding-x-small;

  @include for-tablet {
    padding: $tight-padding-y-normal $tight-padding-x-normal;
  }

  @include for-xl-desktop {
    padding: $tight-padding-y-large $tight-padding-x-large;
  }
}

.detail__header {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0;
  font: 400 14px/30px $montserrat;
  color: $gray-7;

  [class^="icon-"], [class*=" icon-"] {
    font-size: 22px;
    color: $gray-5;
  }
}

.detail__body {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: center;
  margin: 0;
  padding: $tight-padding-y-small $padding-x-small;

  @include for-tablet {
    padding: $tight-padding-y-normal $padding-x-normal;
  }

  @include for-xl-desktop {
    padding: $tight-padding-y-large $padding-x-large;
  }
}

.detail__footer {
  a {
    display: flex;
    flex-flow: row nowrap;
    font: 400 12px/20px $montserrat;

    .material-icons,
    [class^="icon-"], [class*=" icon-"] {
      line-height: 20px;
    }
    .material-icons {
      font-size: 20px;
    }
    [class^="icon-"], [class*=" icon-"] {
      font-size: 14px;
    }

    &:hover {
      text-decoration: none;
      color: $blue-2;
    }
  }
}