.flex {
  display: flex;
  flex-flow: column;
  padding: 15px 0;

  & > * {
    flex: 1 1 auto;
  }
}

.flex-table__headers {
  display: flex;
  flex-flow: row wrap;
  padding: 0;

  h6 {
    color: $gray-4;
    font-size: 12px;
  }
}

.flex-table__row {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10px;
  padding: 0;
  border: 1px solid $primary-border-color;
}

.flex-table__cell {
  padding: 10px 15px;
  font-size: 14px;

  &:not(:last-child) {
    border-right: 1px solid $primary-border-color;
  }
}

@include for-tablet-landscape {

  .flex {
    flex-flow: row nowrap;

    & > * {
      flex: 1 1 auto;
    }
  }

  .flex-table__headers {
    flex-flow: row nowrap;
  }

  .flex-table__row {
    flex-flow: row nowrap;
  }
}
