.form {
  filter: none;
  transition: filter .5s ease;
}

.form--submitting {
  filter: blur(2px);

  input[type="submit"],
  button,
  a {
    display: none;
  }

  input, textarea, select {
    pointer-events: none;
  }
}

.form-error-container {
  padding: 10px 15px;
  background-color: salmon;
  color: #FFF;
  margin-bottom: 15px;
}

.form-submit {
  margin-top: 30px;
}
