.header {
  display: flex;
  flex-flow: row nowrap;
  height: 70px;
  margin: $margin-y-small 0;
  padding: 0;
  background-color: #FFF;
  border: $light-border;

  @include for-tablet {
    margin: $margin-y-normal 0;
  }

  @include for-xl-desktop {
    margin-top: $margin-y-large 0;
  }

}

.header__title {
  flex-grow: 1;
  margin: 0;
  padding: 35px 30px;
  color: $gray-8;
  font: 400 22px/0 $montserrat;
}

.header__title--small {
  font-size: 18px;
}

.header__actions {
  display: flex;
  flex-flow: row;
  a {
    font: 700 12px/0 $montserrat;
  }

  > p,
  > a,
  > strong,
  > small,
  > span,
  > div {
    display: flex;
    padding: 35px 30px;
    line-height: 0;
    border-left: 1px solid $primary-border-color;

    [class^="icon-"], [class*=" icon-"] {
      margin-right: 15px;
      font-size: 18px;
      line-height: 0;
    }
  }

  > a,
  > .back-button {
    color: $blue-4;
    cursor: pointer;
    flex-flow: row nowrap;
    font: 700 12px/0 $montserrat;
    text-transform: uppercase;

    .material-icons {
      margin-right: 8px;
      line-height: 0;
      font-size: 22px;
    }

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }

    &:hover {
      background-color: $gray-0;
    }
  }
}

.header--scroll {
  position: fixed;
  top: $top-bar-height;
  left: $sidebar-width;
  right: 0;
  margin: 0;
  z-index: 900;
  * {
    z-index: 900;
  }
}
