.navigation {
  background-color: $blue;
  color: #FFF;
  height: $top-bar-height;
  position: static;

  .container {
    padding: 0;
  }
}

.navigation--open {
  height: auto;

  .navigation__menu {
    display: flex;
    flex-flow: column;
  }
}

.navigation__content {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.navigation__logo {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: $top-bar-height;
  padding: 0 30px;

  img {
    align-self: flex-start;
    height: 24px;
    width: auto;
  }
}

.navigation__toggle { // Is also .material-icons
  z-index: 500;
  display: block;
  width: $top-bar-height;
  height: $top-bar-height;
  padding: ($top-bar-height / 2) 0;
  text-align: center;
  line-height: 0;
  cursor: pointer;
  color: #FFF;

  .material-icons {
    line-height: 0;
    font-size: 35px;
  }

  &:active,
  &:focus,
  &:hover {
    color: #FFF;
  }

  &:hover {
    background-color: $blue-2;
  }
}

.navigation__menu {
  flex: 1 0 100%;
  display: none;
  background-color: $blue-2;
}

.navigation__link {
  margin: 0;
  padding: 0;
  color: $gray-1;

  &:hover {
    color: $blue-darkest;
    text-decoration: none;

    .material-icons {
      color: $blue-lighter;
    }
  }
}

.navigation__link-title {
  display: flex;
  flex-flow: row nowrap;
  padding: 30px 30px;
  margin: 0;
  font: 400 15px/0 $montserrat;
  cursor: pointer;

  .icon-customers,
  .material-icons {
    line-height: 0;
    margin-right: 10px;
  }
}

.navigation__link--dropdown {
  flex-direction: column;
}

.navigation__link-toggle {
  margin-left: 10px;
}

.navigation__link--open {
  .navigation__dropdown {
    height: auto;
    max-height: 100vh;
  }
}

.navigation__dropdown {
  z-index: 900;
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;
  overflow: hidden;
  height: 0;
  max-height: 0;
  transition: max-height .5s ease;
  background-color: $blue-4;

  .navigation__link-title {
    padding: 25px 30px;
  }
}

@include for-tablet {

  .navigation__logo,
  .navigation__menu {
    padding: 0 15px;
  }

  .navigation__toggle {
    display: none;
  }

  .navigation__menu {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    flex-flow: row nowrap;
    justify-content: flex-end;
    background-color: transparent;
  }

  .navigation__link--dropdown {
    position: relative;
  }

  .navigation__dropdown {
    position: absolute;
    top: $top-bar-height;
    left: 0;
    right: 0;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  .navigation__link--open {
    .navigation__dropdown {
      border: 1px solid $blue-3;
    }
  }
}

@include for-tablet-landscape {

}
