.section {
  background-color: #FFF;
}

.section-title {
  margin-bottom: 30px;
}

.section--padded {
  padding: 30px 15px;
}

.section--spacious {
  padding: 45px 15px;
}

@include for-tablet {
  .section--padded {
    padding: 30px 45px;
  }

  .section--spacious {
    padding: 75px 75px;
  }
}

@include for-tablet-landscape {
  .section--padded {
    padding: 30px 90px;
  }

  .section--spacious {
    padding: 75px 150px;
  }
}
