.sidebar {
  position: fixed;
  top: $top-bar-height;
  left: 0;
  width: $sidebar-width;
  transform: translateX(-#{$sidebar-width});
  background-color: $sidebar-bg;
  height: calc(100vh - #{$top-bar-height});
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 0;
  transition: transform 0.3s ease;
  color: $sidebar-color;

  a, a:link, a:visited {
    color: $sidebar-color
  }

  @include for-desktop {
    transform: none;
  }
}

.open-sidebar {
  .sidebar {
    transform: translateX(0);
  }
}

.sidebar__item {
  display: flex;
  flex-flow: row nowrap;
  padding: 12px 15px;
  margin: 0;
  font: 400 14px/24px $montserrat;

  [class^="icon-"], [class*=" icon-"] {
    padding: 2px 0;
    margin-right: 15px;
    font-size: 16px;
  }

  &.active,
  &:hover {
    background-color: $sidebar-bg-hover;
    text-decoration: none;
    color: $sidebar-color;
  }

  &:focus, &:active {
    text-decoration: none;
    outline: none;
  }
}

.sidebar__primary {

}

.sidebar__secondary {

  .sidebar__item {
    font-size: 12px;
    line-height: 24px;
    padding: 10px 15px;
    color: $sidebar-secondary-color;

    &:link, &:visited {
      color: $sidebar-secondary-color;
    }

    &.router-link-active {
      &:link, &:visited {
        color: $sidebar-secondary-color;
      }
    }
  }

  @include for-tablet {
    margin-top: 25px;
    padding-top: 25px;
  }
}

/*.sidebar__footer {
  display: flex;
  flex-basis: 100%;
  justify-content: flex-end;
  flex-direction: column;
  text-align: center;
  color: $sidebar-secondary-color;
  font: 400 12px/24px $montserrat;
}*/
