.sub-header {
  display: flex;
  flex-flow: column;
  margin: 0 $margin-small;
  border: $light-border;
  background-color: #FFF;

  &:not(.sub-header--spaced) {
    border-top: none;
  }

  @include for-tablet {
    margin: 0 $margin-normal;
    flex-flow: row nowrap;
  }

  @include for-xl-desktop {
    margin: 0 $margin-large;
  }
}

.sub-header--spaced {
  margin-top: $margin-y-small;

  @include for-tablet {
    margin-top: $margin-y-normal;
  }

  @include for-xl-desktop {
    margin-top: $margin-y-large;
  }
}

.sub-header__item {
  flex: 1 1 auto;

  &:not(:last-child) {
    border-right: $light-border;
  }
}

.sub-header__item--shrink {
  flex-grow: 0;
}

.sub-header__item-header,
.sub-header__item-footer {
  padding: $tight-padding-y-small $tight-padding-x-small;

  @include for-tablet {
    padding: $tight-padding-y-normal $tight-padding-x-normal;
  }

  @include for-xl-desktop {
    padding: $tight-padding-y-large $tight-padding-x-large;
  }
}

.sub-header__item-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font: 400 14px/30px $montserrat;
  color: $gray-7;

  [class^="icon-"], [class*=" icon-"] {
    font-size: 22px;
    color: $gray-5;
  }
}

.sub-header__item-body {
  margin: 0;
  padding: $tight-padding-y-small $padding-x-small;

  @include for-tablet {
    padding: $tight-padding-y-normal $padding-x-normal;
  }

  @include for-xl-desktop {
    padding: $tight-padding-y-large $padding-x-large;
  }
}

.sub-header__item-footer {
  a {
    display: flex;
    flex-flow: row nowrap;
    font: 400 12px/20px $montserrat;

    .material-icons,
    [class^="icon-"], [class*=" icon-"] {
      line-height: 20px;
    }
    .material-icons {
      font-size: 20px;
    }
    [class^="icon-"], [class*=" icon-"] {
      font-size: 14px;
    }

    &:hover {
      text-decoration: none;
      color: $blue-2;
    }
  }
}
