.tabs {
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
  background-color: #fff;
  list-style: none;
  border: $light-border;

  margin: 15px 15px 0;
  @include for-tablet {
    margin: 20px 20px 0;
  }
}

.tab {
  flex: 0 0 auto;
  margin: 0;
  border-right: 1px solid $gray-2;

  padding: 8px 12px;
  font: 400 16px/24px $montserrat;

  &:active,
  &:focus {
    text-decoration: none;
    outline: none;
  }

  &:hover {
    text-decoration: none;
    background-color: $blue-light;
    border-color: $blue;
    color: #FFF;
  }

  &.active {
    border-color: $blue-dark;
    background-color: $blue;
    color: #FFF;
  }
}
