$tt-padding: 2px;
$tt-option-size: 32px;
$tt-option-spacing: 6px;

.triple-input {
  display: flex;
  flex-flow: row wrap;
}

.tripe-input__container {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  border: $primary-border;
  width: ($tt-padding * 2) + ($tt-option-size * 3) + ($tt-option-spacing * 2);
  padding: $tt-padding;
  background-color: $gray-0;
}

.triple-input__label {
  margin: 0;
  padding: $tt-padding 10px;
  line-height: $tt-option-size;
}

.triple-input--true {
  background-color: $green-lightest;

  .triple-input__selector {
    left: $tt-padding;
    right: auto;
  }

  .triple-input__true {
    &:hover {
      background-color: #FFF;
    }
  }
}

.triple-toggle--false {
  background-color: $red-lightest;

  .triple-toggle__selector {
    left: auto;
    right: $tt-padding;
  }

  .triple-input__true {
    &:hover {
      background-color: #FFF;
    }
  }
}

.triple-input__option {
  z-index: 200;
  flex: 0 1 33%;
  height: $tt-option-size;
  width: $tt-option-size;
  line-height: $tt-option-size;
  text-align: center;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: $tt-option-spacing;
  }
}

.triple-input__true {
  color: $green-dark;

  &:hover {
    background-color: $green-lightest;
  }
}

.triple-input__false {
  color: $red-dark;

  &:hover {
    background-color: $red-lightest;
  }
}

.triple-input__selector {
  position: absolute;
  z-index: 100;
  top: $tt-padding;
  left: $tt-option-size + $tt-option-spacing + $tt-padding;
  width: $tt-option-size;
  height: $tt-option-size;
  border: 2px solid $primary-border-color;
  border-radius: 2px;
  background-color: #FFF;
}