.btn {
  cursor: pointer;
  font-weight: 400;
  font-family: $montserrat;
  border-radius: 0 !important; // since $enable-rounded:false is ignored

  .material-icons {
    position: relative;
    top: 4px;
    margin: -20px 0;
    padding-right: 5px;
    line-height: 0;
    font-size: 20px;
  }

  // Custom icon font
  [class^="icon-"], [class*=" icon-"] {
    margin-right: 5px;
    line-height: inherit;
  }
}

.btn-round {
  border-radius: 36px;
}

.btn-full-width {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.btn-half-width {
  width: 50%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.btn-lg {
  .material-icons {
    top: 5px;
    font-size: 24px;
    padding-right: 15px;
  }

  [class^="icon-"], [class*=" icon-"] {
    margin-right: 15px;
  }
}

.btn-sm {
  .material-icons {
    top: 3px;
    font-size: 16px;
  }
}

.btn-block {

  .material-icons {
    top: 8px;
    float: left;
    margin: 0;
  }

  [class^="icon-"], [class*=" icon-"] {
    float: left;
    margin: 0;
  }
}
