.title {
  margin: 0;
  padding: 25px $card-spacer-x;
  color: $gray-8;
  font: 400 16px/0 $montserrat;
  border-bottom: $primary-border;

  .float-right,
  .float-left {
    height: 0;
    margin: 0;
    line-height: 0;
    * {
      margin: 0;
      line-height: 0;
    }
  }
}

.card {
  z-index: 100;

  .list-group-flush {

    // Remove top border from first element
    .list-group-item {
      &:first-child {
        border: none;
      }
    }
  }

  border-radius: 0 !important; // since $enable-rounded:false is ignored
}

.card-header {

  // Do not have ugly bottom margin for headings in card header.
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
  }
}

.card-divider {
  border-top: 1px solid #DDD;
}

.card + .card {
  margin-top: $margin-y-small;
}

.card-deck {
  .card + .card {
    margin-top: 0 !important;
  }
}

@include for-tablet {
  .card + .card {
    margin-top: $margin-y-normal;
  }
}

@include for-xl-desktop {
  .card + .card {
    margin-top: $margin-y-large;
  }
}
