.container-wide,
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 100%;
}

@include for-tablet { // 600px and up
  .container,
  .container-wide {
    width: 100%; // TODO: Is this necessary?
  }
}

@include for-tablet-landscape { // 1024px and up
  .container {
    max-width: $container-small;
  }

  .container-wide {
    max-width: $container-wide-small;
  }
}

@include for-desktop { // 1200px and up
  .container {
    max-width: $container-normal;
  }

  .container-wide {
    max-width: $container-wide-normal;
  }
}

@include for-large-desktop { // 1800px and up
  .container {
    max-width: $container-large;
  }

  .container-wide {
    max-width: $container-wide-large;
  }
}

@include for-xl-desktop { // 2000px and up
  .container {
    max-width: $container-xl;
  }

  .container-wide {
    max-width: $container-wide-xl;
  }
}
