.form-control {
  font: 400 13px/20px $montserrat;
  color: $input-color;

  // Placeholder
  &::-webkit-input-placeholder {
    color: $placeholder-color;
  }
  &::-moz-placeholder {
    color: $placeholder-color;
  }
  &::placeholder {
    color: $placeholder-color;
  }
}

input,
select {
  &.form-control {
    height: $input-height;

    &:not([size]):not([multiple]) {
      height: $input-height;
    }
  }
}

textarea {
  &.form-control {
    font: 400 13px/24px $montserrat;
    color: $input-color;
  }
}

.input-button {
  height: $input-height;
}
