.modal-backdrop {
  display: none !important;
}

.modal {
  background-color: rgba(#000, .6);
}

.modal-header {
  border-bottom: $primary-border;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: 0;
  margin-top: 100px;
  max-height: calc(100vh - 130px);
}

.modal-footer {
  border-top: $primary-border;
  justify-content: space-between;
}

.modal-xl {
  width: 100%;
  max-width: calc(100vw - (#{$sidebar-width} + 75px));
  margin: 0 30px 30px ($sidebar-width + 30px);
}
